body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
  min-height: 100vh;
  background: rgb(132, 246, 235);
  background: linear-gradient(
    90deg,
    rgba(132, 246, 235, 1) 0%,
    rgba(121, 136, 227, 1) 0%,
    rgba(132, 246, 235, 1) 100%
  );
}
input {
  border: none;
  outline: none;
}
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 0.1em;
  padding-bottom: 0.5em;
  background-color: #173f5f;
  color: #fff;
}
#header h1 {
  flex-basis: 100%;
  text-align: center;
  margin: 0.6em 0;
}
#currentLocationBtn {
  background-color: rgb(19, 138, 39);
  color: #fff;
  border-radius: 3px;
  font-size: 0.9em;
  padding: 0.5em 0.7em;
}
#search-form {
  flex-basis: 62%;
  display: flex;
  border-radius: 1px;
}
#search-form input {
  flex-basis: 60%;
  flex-grow: 1;
  border-radius: 1px;
  padding-left: 0.5em;
}
#search-form button {
  background-color: rgb(19, 138, 39);
  color: #fff;
  font-size: 0.9em;
  flex-basis: 40%;
  border-radius: 3px;
}

.currentWeather {
  height: 28em;
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.amazing-weather-facts h1,
.currentWeather h1,
.weatherForecastDaily .heading {
  margin-top: 0.2em;
  padding: 0.4em 0.5em;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  box-shadow: 3px 3px 3px 3px rgb(187, 121, 121);
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: #fff;
}
.cityName {
  margin: 0.5em 0;
  font-size: 2em;
}

.currentTemperature {
  font-size: 3em;
  margin: 0.2em 0;
}
.temperatureFeelsLike {
  margin: 0.5em 0 0 0;
  font-size: 1.2em;
}

.iconAndWeatherDescription {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.weatherIcon {
  align-self: center;
  height: 6em;
  border-radius: 10px;
  margin-top: 0.5em;
}
.weatherDescription {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2em;
  margin: 0.6em 0 0.5em 0;
  font-weight: 600;
}
.humidity {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0.5em 0;
}

/* Weather Forecasts styles  */
.weatherForecasts {
  margin-top: 0.5em;
  height: 15em;
}

.forecastDailyCards {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.dailyCard {
  flex-basis: 46%;
  height: 11em;
  justify-content: space-between;
  margin: 0.5em 0.1em;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0px 0px 50px 20px rgba(128, 114, 114, 0.17);
  border-radius: 5px;
}

.dayAndDate {
  margin-top: 0em;
}
.forecastsWeatherIcon {
  display: block;
  margin-top: -0.5em;
  height: 5em;
  width: 4em;
}
.temperatureMinMax {
  display: flex;
  width: 100%;
  margin-top: 0.5em;
  justify-content: space-around;
  align-items: baseline;
}

.maxTemp {
  font-weight: 600;
  font-size: 1.1em;
}

.forecastWeatherDescription {
  margin-top: -0.5em;
  text-transform: capitalize;
  font-weight: 600;
}

/* Amazing Weather Facts Styles */
.amazing-weather-facts {
  padding: 2em;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.fact-lists li {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  margin: 0.5em 0;
  padding: 0.5em;
  box-shadow: 0px 0px 50px 20px rgba(128, 114, 114, 0.17);
  border-radius: 10px;
}

@media all and (min-width: 40em) {
  #header {
    justify-content: center;
  }

  #currentLocationBtn {
    margin-right: 1em;
    flex-grow: 1;
  }
  .currentWeather {
    margin: 1em 0 2em 0;
  }
  .dailyCard {
    flex-basis: 30%;
    padding: 1em 0;
  }

  .fact-lists li {
    font-size: 1.4em;
  }
}

@media all and (min-width: 60em) {
  #currentLocationBtn {
    flex-grow: 0;
    flex-basis: 22%;
  }
  #search-form {
    flex-basis: 45%;
  }

  .dailyCard {
    flex-basis: 23%;
  }
}

@media all and (min-width: 90em) {
  #header {
    justify-content: center;
  }

  #currentLocationBtn {
    flex-grow: 0;
    flex-basis: 15%;
    font-size: 1em;
  }
  #search-form {
    flex-basis: 30%;
  }
  #search-form button {
    font-size: 1em;
    flex-basis: 40%;
    border-radius: 3px;
  }
  .dailyCard {
    flex-basis: 19%;
  }
}
